body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

header {
  height: 90px;
}

main {
    flex: 1 0 auto;
}

.time {
  font-size: 22vw;
}

.ampm{
  font-size: 7vw;
  text-align: right;
  margin-top: -1vw;
}

/*Auth0 style*/
.a0-primary {
  background-color: black !important;
}

.a0-top-header {
  display: none !important;
}

.a0-panel, .a0-mode-container, .a0-body-content{
  border-radius: 3px !important;
}

.brand-logo, .clock-location, .footer-copyright a {
  font-weight: 200;
  color: #fff;
}

.brand-logo {
  font-size: 46px;
}

.clock-location {
  font-size: 20px;
  margin-left: -15px;
}

label.new-hours, label.new-minutes {
  margin-right: 10px;
}

label.new-hours, label.new-minutes, #newHours, #newMinutes, span{
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  color: #ADADAD;
}

.container .row {
  margin: 0px;
}

#newHours, #newMinutes, span{
  width: 20px;
  height: 20px;
  text-align: center;
  padding-bottom: 2px;
}

#newHours, #newMinutes{
  border-bottom: 1px solid #ADADAD;
  width: 20px;
  display: inline;
}

#newHours:focus, #newMinutes:focus{
  border-bottom: 1px solid #fff;
  color: #fff;
}

#newHours:focus + label, #newMinutes:focus + label{
  color: #fff;
}

.card-action {
  min-height: 88px;
  border-radius: 0 0 5px 5px;
}

.card.new-location {
  margin-top: 30px;
}

.card.clock{
  margin: 10vh auto 1rem auto;
  border-radius: 5px;
}

/*animate ng-if*/
 .animate-if.ng-enter, .animate-if.ng-leave {
    -webkit-transition: .5s linear all;
    -moz-transition: .5s linear all;
    -ms-transition: .5s linear all;
    -o-transition: .5s linear all;
    transition: .5s linear all;
}

 .animate-if.ng-enter {
    max-height: 0;
    opacity: 0;
}

 .animate-if.ng-enter.ng-enter-active {
    max-height: 999px;
    opacity:1;
}

 .animate-if.ng-leave {
    max-height: 999px;
    opacity:1;
}

 .animate-if.ng-leave.ng-leave-active {
    max-height: 0;
    opacity:1;
}

.new-location .collection {
  border-width: 0px;
  margin-bottom: 0px;
}

.new-location .card-content {
  padding-bottom: 5px !important;
}

.new-location .card-title {
  margin-bottom: 15px;
}

#new_clock_name:focus + label, #new_location_name:focus + label {
  color: #006AFF;
}
#new_clock_name:focus, #new_location_name:focus, #new_clock_name:focus:valid, #new_location_name:focus:valid {
  border-color: #006AFF;
  -webkit-box-shadow: 0 1px 0 0 #006AFF;
  -moz-box-shadow: 0 1px 0 0 #006AFF;
  box-shadow: 0 1px 0 0 #006AFF;
}

#new_clock_name:valid + label, #new_location_name:valid + label {
  
}
#new_clock_name:valid, #new_location_name:valid {
  border-color: #8B8B8B;
  -webkit-box-shadow: 0 1px 0 0 #8B8B8B;
  -moz-box-shadow: 0 1px 0 0 #8B8B8B;
  box-shadow: 0 1px 0 0 #8B8B8B;
}

.new-clock-submit {
  margin-top: 30px;
}

a {
  font-weight: 100;
}

input[type='submit'] {
  transform: scale(.7);
}