body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
  height: 90px;
}

main {
    flex: 1 0 auto;
}

.time {
  font-size: 22vw;
}

.ampm{
  font-size: 7vw;
  text-align: right;
  margin-top: -1vw;
}

/*Auth0 style*/
.a0-primary {
  background-color: black !important;
}

.a0-top-header {
  display: none !important;
}

.a0-panel, .a0-mode-container, .a0-body-content{
  border-radius: 3px !important;
}

.brand-logo, .clock-location {
  font-weight: 200;
  color: #fff;
}

.brand-logo {
  font-size: 46px;
}

.clock-location {
  font-size: 20px;
  margin-left: -15px;
}

input {
  width: 20px;
  display: inline;
}

label {
  margin-right: 10px;
}

label, #newHours, #newMinutes, span{
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  color: #ADADAD;
}

.container .row {
  margin: 0px;
}

#newHours, #newMinutes, span{
  width: 20px;
  height: 20px;
  text-align: center;
  padding-bottom: 2px;
}

#newHours, #newMinutes{
  border-bottom: 1px solid #ADADAD;
}

#newHours:focus, #newMinutes:focus{
  border-bottom: 1px solid #fff;
  color: #fff;
}

#newHours:focus + label, #newMinutes:focus + label {
  color: #fff;
}

.card-action {
  min-height: 88px;
  border-radius: 0 0 5px 5px;
}

.card {
  margin: 10vh auto 1rem auto;
  border-radius: 5px;
}
